In [1]:
import pandas as pd
import numpy as np
import scipy.io as sio
import os

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt

In [2]:
def find_date(df_raw, yy, mon, day):
    for i in range(0,len(df_raw)):
        if df_raw.iloc[i,0].year == yy:
            if df_raw.iloc[i,0].month == mon: 
                if df_raw.iloc[i,0].day == day:
                    X = i
                    break
                else:
                    continue
    return X

In [4]:
fn = './CG_1&CG_2_sig0_3_12.xlsx'
df_raw = pd.read_excel(fn)
df_raw

In [5]:
# TT_2 && TT_4 초기 데이터(8월말 ~ 9월) 삭제
det_date1 = find_date(df_raw, 2022, 11, 1)
print(det_date1)

df_raw_tt = df_raw.iloc[det_date1:,:]
df_raw_tt.index = pd.RangeIndex(len(df_raw_tt)) #index reset
df_raw_tt

4369

,Time,CG_1,CG_2,CG_3,CG_4,TT_1,TT_2,TT_3,TT_4,TC_1_Avg,TC_2_Avg,Batt_Volt_Avg,PTemp_C_Avg,waterlevel
0,2022-11-01 00:00:00,3.346000,-0.052000,3.110,-0.260,-0.025,-0.508,-0.002,-0.569,13.06,14.44,13.98,14.13,563
1,2022-11-01 00:10:00,3.348000,-0.055000,3.112,-0.260,-0.025,-0.508,-0.002,-0.569,13.07,14.56,13.98,14.21,543
2,2022-11-01 00:20:00,3.351000,-0.057000,3.114,-0.259,-0.026,-0.508,-0.003,-0.569,13.10,14.38,13.98,14.29,523
3,2022-11-01 00:30:00,3.354000,-0.059000,3.115,-0.259,-0.026,-0.508,-0.003,-0.570,13.13,14.34,13.98,14.37,504
4,2022-11-01 00:40:00,3.357000,-0.061000,3.117,-0.259,-0.026,-0.508,-0.003,-0.570,13.16,14.45,13.98,14.44,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51744,2023-10-31 23:10:00,3.511952,0.084084,2.144,-0.172,0.012,-0.099,0.041,-0.475,16.69,17.44,12.93,18.43,248
51745,2023-10-31 23:20:00,3.513952,0.082084,2.145,-0.172,0.011,-0.099,0.041,-0.475,16.69,17.40,12.94,18.40,227
51746,2023-10-31 23:30:00,3.516952,0.080084,2.146,-0.172,0.011,-0.099,0.041,-0.475,16.67,17.38,12.93,18.36,207
51747,2023-10-31 23:40:00,3.519952,0.078084,2.147,-0.172,0.011,-0.099,0.041,-0.475,16.66,17.39,12.93,18.33,188
51748,2023-10-31 23:50:00,3.521952,0.076084,2.148,-0.172,0.011,-0.099,0.041,-0.476,16.66,17.41,12.93,18.30,170

In [ ]:
# Date Label for xticks
point1 = find_date(df_raw_tt, 2022, 11, 1)
point2 = find_date(df_raw_tt, 2023, 1, 1)
point3 = find_date(df_raw_tt, 2023, 3, 1)
point4 = find_date(df_raw_tt, 2023, 5, 1)
point5 = find_date(df_raw_tt, 2023, 7, 1)
damage_date = find_date(df_raw_tt, 2023, 10, 1)

In [ ]:
plt.figure(figsize=(12, 9))

for i in range(1,10):

  plt.subplot(3,3,i)
  plt.scatter(df_raw_tt.iloc[:,0],df_raw_tt.iloc[:,i], s=0.1)
  plt.xlabel('Date')
  plt.ylabel(df_raw_tt.columns[i])
  plt.xticks([df_raw_tt.iloc[point1, 0], df_raw_tt.iloc[point3, 0], df_raw_tt.iloc[point5, 0]])
  plt.grid(True, linestyle=':', color='gray')

plt.tight_layout()

plt.show()

In [ ]:
# df_raw_tt 행렬의 행 개수를 확인하여 행렬 생성
num_rows = df_raw_tt.shape[0]
df_label0 = pd.DataFrame(np.zeros((num_rows, 1)), columns=['label'])
df_label0.iloc[damage_date:, :] = 1

print(df_label0)

In [ ]:
df_raw_tt.columns

In [ ]:
# select_columns = [1, 9]
CA = 1
if CA == 1:
    select_columns = [1, 2, 5, 6, 9] # CG_1, CG_2, TT_1, TT_2, TC_1_Avg
else:
    select_columns = [3, 4, 7, 8, 9] # CG_3, CG_4, TT_3, TT_4, TC_1_Avg

df_input = df_raw_tt.iloc[:, select_columns]

df_input

In [ ]:
for i in range(df_input.shape[1]-1):
    fig, ax = plt.subplots(1, 1, figsize=(12, 4), dpi = 200)
    ax2 = ax.twinx()
    ax.scatter(df_raw_tt.iloc[:, 0], df_input.iloc[:,i], s=0.1, color = 'b', label = df_input.columns[i])
    ax2.scatter(df_raw_tt.iloc[:, 0], df_input.iloc[:,-1], s=0.1, color = 'r', label = df_input.columns[-1])
    ax.set_xlabel('Date')
    ax.set_ylabel(df_input.columns[i])
    ax2.set_ylabel('Temp.')
    ax.set_xticks([df_raw_tt.iloc[point1, 0], df_raw_tt.iloc[point3, 0], df_raw_tt.iloc[point5, 0], df_raw_tt.iloc[damage_date, 0]])
    ax.grid(True, linestyle=':', color='gray')
    ax.set_title(df_input.columns[i] + ' vs Temperature')
    ax.legend(loc = 'upper left')
    ax2.legend(loc = 'upper right')
    plt.tight_layout()
    plt.show()

In [ ]:
df_data = df_input.copy()
df_data['date'] = df_raw_tt.loc[:,'date']
df_data['label'] = df_label0
df_data.to_csv('./Data/' + fn_data.split('/')[-1].split('.')[0] + '.csv')